<div class="jumbotron jumbotron-fluid" style="background-image: url('./assets/welcomepage.jpg');background-size: cover;min-height: 700px;">    
    <div class="container">
        <h2 style="text-align:center; padding-top: 160px; padding-bottom: 50px; color:azure">Some cheering advertising quotes here</h2>
        <div class="form-group" >
            <input type="search" class="form-control form-control-lg" id="welcomepageCitySearch" placeholder="Enter your destination city..">
        </div>
    </div>
</div>

