<div class="container-fluid">
    <h1 class="h3 mb-3 font-weight-normal text-center">Create Your GTACarpool Account</h1>
    <form class=" d-flex .justify-content-center">
        <div class="form-row">
            <div class="form-group">
                <label for="inputEmail">Email address:</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="inputEmail">Password:</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            </div>
            
            <div class="form-group">
                <label for="inputEmail">Confirm Password:</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            </div>

        </div>
        
        <div class="form-row">
            <div class="form-group">
                <label for="inputEmail">Phone Number:</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="inputEmail">Name:</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            </div>
        </div>
    </form>
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>

  </div>