<div class="form-group" >
    <div class="row">
        <div class="col">
            <input type="search" class="form-control" id="welcomepageCitySearch" placeholder="Enter your departure city..">
        </div>
        <div class="col">
            <input type="search" class="form-control" id="welcomepageCitySearch" placeholder="Enter your destination city.." >
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="date" class="form-control" id="welcomepageCitySearch">
        </div>
    </div>
</div>
