<div class="form-group" >
    <div class="row" style="padding-bottom:1%">
        <div class="col">
            <input type="search" class="form-control" id="welcomepageCitySearch" placeholder="Enter your departure city..">
        </div>
        <div class="col">
            <input type="search" class="form-control" id="welcomepageCitySearch" placeholder="Enter your destination city.." >
        </div>
    </div>
    <div class="row">
        <div class="col">
            <select class="custom-select" [(ngModel)]="year" (change)="updateDayFromMonth()">
                <option *ngFor = "let y of years" >{{y}}</option>
            </select>
        </div>
        <div class="col">
            <select class="custom-select" [(ngModel)]="month" (change)="updateDayFromMonth()">
                <option *ngFor = "let m of months" >{{m}}</option>
            </select>
        </div>
        <div class="col">
            <select class="custom-select" [(ngModel)]="day">
                <option *ngFor = "let d of days" >{{d}}</option>
            </select>
        </div>
        <div class="col">
            <select class="custom-select" id="timeslot">
                <option selected>Time</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </div>
    <div class="row">
        <button></button>
    </div>
</div>
